<!DOCTYPE html>
<html>
<head>
  <title>Cat</title>
  <style>
    .grid-7{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}  
  .grid-9{
    display: grid;
    grid-template-columns: repeat(1,2fr);
}  
.section-7{
  padding-left: 5px;
  padding-right: 5px;
  border:1px solid black;
}
.section-8{
  padding-left: 10px;
  border:1px solid black;
}
</style>
</head>
<body>
<div class="grid-9">
  <div class="grid-7">


<div class="section-8">
  <h3 align="center">Data Science</h3>
<center><%= image_tag("DS.jpg", :alt => "Course Image", :size => "600x400") %></center>
<br>
Ut ullamco est cillum sit enim duis duis occaecat fugiat ut anim amet eiusmod ut adipisicing consectetur dolore dolore qui anim ex incididunt consectetur tempor voluptate amet adipisicing dolor adipisicing est ullamco proident magna aliquip commodo minim.

 <br>
 <br>
<h3>Take a description tour:</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/X3paOmcrTjQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


<div class="section-7">
  <h3>Benefits of Being Data Scientist</h3>
  <p>
  <h4>  1 Benefit A</h4> 
Ut ullamco est cillum sit enim duis duis occaecat fugiat ut anim amet eiusmod ut adipisicing consectetur dolore dolore qui anim ex incididunt consectetur tempor voluptate amet adipisicing dolor adipisicing est ullamco proident magna aliquip commodo minim. 

<h4>2 Benefit B </h4>
Ut ullamco est cillum sit enim duis duis occaecat fugiat ut anim amet eiusmod ut adipisicing consectetur dolore dolore qui anim ex incididunt consectetur tempor voluptate amet adipisicing dolor adipisicing est ullamco proident magna aliquip commodo minim. 

<h4>3 Benefit C</h4> 
Ut ullamco est cillum sit enim duis duis occaecat fugiat ut anim amet eiusmod ut adipisicing consectetur dolore dolore qui anim ex incididunt consectetur tempor voluptate amet adipisicing dolor adipisicing est ullamco proident magna aliquip commodo minim. 

<h4>4 Benefit D</h4> 
Ut ullamco est cillum sit enim duis duis occaecat fugiat ut anim amet eiusmod ut adipisicing consectetur dolore dolore qui anim ex incididunt consectetur tempor voluptate amet adipisicing dolor adipisicing est ullamco proident magna aliquip commodo minim. 

<h4>5 Benefit E </h4>
Ut ullamco est cillum sit enim duis duis occaecat fugiat ut anim amet eiusmod ut adipisicing consectetur dolore dolore qui anim ex incididunt consectetur tempor voluptate amet adipisicing dolor adipisicing est ullamco proident magna aliquip commodo minim. 

<h4>6 Benefit F</h4> 
Ut ullamco est cillum sit enim duis duis occaecat fugiat ut anim amet eiusmod ut adipisicing consectetur dolore dolore qui anim ex incididunt consectetur tempor voluptate amet adipisicing dolor adipisicing est ullamco proident magna aliquip commodo minim. 
  </p>
</div>

</div>
<div class="grid-8">
    <div class="container mt-5">
        <h3><small class="text-muted">Data Science Courses</small></h3>
        <div class="card-deck">
            <%= link_to home_course_path do %>
            <div class="card mx-1">
                <%= image_tag("sample.jpg", :alt => "Course Image") %>
                <div class="card-body px-2">
                    <h6 class="card-title">Master in Data Science</h6>
                    <p class="card-text" style="font-size:11px">Chris Haroun. Complete Business...</p>
                    <p class="card-text"><small class="text-muted">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star-half text-warning"></i>
                        4.5 (18,560)</small>
                        <span class="d-block"></span>
                        <span class="float-right">
                            <span class="text-muted" style="text-decoration:line-through">$199.99</span>
                            <small><strong>$9.99</strong></small>
                        </span> 
                    </p>
                </div>
                <% end %>
            </div>

            <%= link_to home_course_path do %>
            <div class="card mx-1">
                <%= image_tag("sample.jpg", :alt => "Course Image") %>
                <div class="card-body px-2">
                    <h6 class="card-title">Data Science for Beginners</h6>
                    <p class="card-text" style="font-size:11px">Chris Haroun. Complete Business...</p>
                    <p class="card-text"><small class="text-muted">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star-half text-warning"></i>
                        4.5 (18,560)</small>
                        <span class="d-block"></span>
                        <span class="float-right">
                            <span class="text-muted" style="text-decoration:line-through">$199.99</span>
                            <small><strong>$9.99</strong></small>
                        </span> 
                    </p>
                </div>
                <% end %>
            </div>


            <%= link_to home_course_path do %>
            <div class="card mx-1">
                <%= image_tag("sample.jpg", :alt => "Course Image") %>
                <div class="card-body px-2">
                    <h6 class="card-title">Beginner to Advance Data Science Course</h6>
                    <p class="card-text" style="font-size:11px">Chris Haroun. Complete Business...</p>
                    <p class="card-text"><small class="text-muted">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star-half text-warning"></i>
                        4.5 (18,560)</small>
                        <span class="d-block"></span>
                        <span class="float-right">
                            <span class="text-muted" style="text-decoration:line-through">$199.99</span>
                            <small><strong>$9.99</strong></small>
                        </span> 
                    </p>
                </div>
                <% end %>
            </div>

            <%= link_to home_course_path do %>
            <div class="card mx-1">
                <%= image_tag("sample.jpg", :alt => "Course Image") %>
                <div class="card-body px-2">
                    <h6 class="card-title">Data Science & Analytics</h6>
                    <p class="card-text" style="font-size:11px">Chris Haroun. Complete Business...</p>
                    <p class="card-text"><small class="text-muted">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star-half text-warning"></i>
                        4.5 (18,560)</small>
                        <span class="d-block"></span>
                        <span class="float-right">
                            <span class="text-muted" style="text-decoration:line-through">$199.99</span>
                            <small><strong>$9.99</strong></small>
                        </span> 
                    </p>
                </div>
                <% end %>
            </div>
            
        </div>
    </div>
</div>
</div>
</body>
</html>